/*
* Made by Erik Terwan
* 24th of November 2015
* MIT License
*
* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/

/*
* Found this nice color palette:
* http://opencolor.tools/palettes/wesanderson/
*/

/*
* Side menu sources:
* https://stackoverflow.com/questions/50789489/close-hamburger-menu-when-click-on-anchor-links-on-same-page
* https://www.sitepoint.com/pure-css-off-screen-navigation-menu/
*/

/*****************************************************
* - - - - - - - - - - OVERALL PAGE - - - - - - - - - -
*****************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-align: justify;
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}
header {
  height: 100px;
}
#logo {
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  width: 30px;
  line-height: 30px;
}

body {
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

/*****************************************************
* - - - - - - - - - NAVIGATION MENU - - - - - - - - -
*****************************************************/

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 3;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#menuIcon {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}
#menuIcon span {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 2;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

/* Transform all the slices of hamburger into a crossmark */
#menuToggle:checked ~ #menuIcon span:nth-of-type(1) {
  transform: translate(0px, 9px) rotate(45deg);
}
/* But let's hide the middle one */
#menuToggle:checked ~ #menuIcon span:nth-of-type(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* Oh yeah and the last one should go the other direction */
#menuToggle:checked ~ #menuIcon span:nth-of-type(3) {
  transform: translate(0px, -9px) rotate(-45deg);
}
#menuToggle:checked ~ #menuIcon span {
  background: #232323;
}

#menuToggle:checked ~ .site-wrap {
  transform: translate(-200px, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle:checked ~ .navigation {
  transform: none;
}
/* Make this absolute positioned at the top left of the screen */
.navigation {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 190px;
  background: #e6e6e6;

  transform: translate(100%, 0);
  min-height: 100%;
  padding: 2rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 0;
  list-style: none;
}

.navigation li {
  padding: 10px 10px;
}
.navigation a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  font-size: 1.3rem;
}
.navigation a:hover {
  color: #dbb165;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  padding-right: 4.5em;
  padding-left: 4.5em;
}

/*****************************************************
  * - - - - - - - - - - - CONTENT - - - - - - - - - - -
  *****************************************************/

/* BEYOND THIS LINE IS PREVIOUS CSS BY ME*/
/* ------------------------------------------------------ */
/* General */
/*
  html {
    font-size: 62.5%;
  }
  body {
    font-family: Myriad Pro light;
    font-size: 1.6rem;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  */
/*
  h2 {
    font-family: "muli", sans-serif;
    font-style: bold;
  }
  */
/* Header*/
/*
  header {
    background: royalblue;
  }
  header #logo {
    display: inline-block;
    font-size: 15rem;
    font-family: muli, sans-serif;
  }
  header li {
    display: inline;
  }
  header nav {
    float: right;
    margin: auto auto auto auto;
  }
  header nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;
  }
  */
/* About */
/*
  #About {
    background: salmon;
    height: auto;
  }
  #About img {
    display: inline-block;
    float: left;
    border-radius: 100%;
    max-width: 10rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  #About p {
    padding: 1rem 1rem 1rem 1rem;
  }
  */
/* Showcase */
/*
  #Showcase {
    background: seagreen;
  }
  */
/* Future */
/*
  #Future {
    background: thistle;
  }
  */
